html {
   scroll-snap-type: y mandatory;
   scroll-behavior: smooth;
}

.icon-hover {
   --bs-icon-link-transform: translate3d(0, -.125rem, 0)
}

html,
body {
   // font-family: 'Montserrat', sans-serif !important;
   overflow-y: auto;
   overflow-x: hidden;
   height: 100%;
   /* @extend .app-scrollbar; */
}

.border-dashed {
   border-style: dotted;
}

.cursor-pointer {
   cursor: pointer;
}

.tooltip-inner {
   box-shadow: $tooltip-shadow;
}

/**============Loader===============**/
.loader {
   display: inline-flex;
   gap: 10px;
}

.loader:before,
.loader:after {
   content: "";
   height: 20px;
   aspect-ratio: 1;
   border-radius: 50%;
   background:
      linear-gradient(#0d6efd 0 0) top/100% 40% no-repeat,
      radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
   animation: 2.5s infinite;
   animation-name: l8-1, e8-2;
}

@keyframes l8-1 {

   0%,
   40%,
   100% {
      background-size: 100% 40%, 8px 8px
   }

   50%,
   80% {
      background-size: 100% 0%, 8px 8px
   }
}

@keyframes l8-2 {

   0%,
   50% {
      background-position: top, 50% 50%
   }

   60%,
   65% {
      background-position: top, 70% 50%
   }

   70%,
   75% {
      background-position: top, 30% 50%
   }

   90%,
   100% {
      background-position: top, 50% 50%
   }
}