html,
body {
   font-family: 'Montserrat', sans-serif !important;
   overflow-y: auto;
   overflow-x: hidden;
   height: 100%;
   /* @extend .app-scrollbar; */
}

.border-dashed {
   border-style: dotted;
}

.cursor-pointer {
   cursor: pointer;
}